@media screen and (max-width: 1200px)
{
    .categ-pg-banner-cntnt .categ-pg-banner-head
    {
        font: 800 132px "clash display";
        line-height: 100px;
    }

    .categ-pg-banner-img
    {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .categ-pg-banner-img img
    {
        width: 380px;
        height: auto;
    }
}

@media screen and (max-width: 1024px)
{
    .course-categ-page-banner
    {
        margin-bottom: 100px;
    }

    .categ-pg-banner-cntnt .categ-pg-banner-head
    {
        font: 800 102px "clash display";
        line-height: 80px;
    }

    .categ-pg-banner-img
    {
        position: absolute;
        right: 0px;
        bottom: -50px;
    }

    .categ-pg-banner-img img
    {
        width: 380px;
        height: auto;
    }
}

@media screen and (max-width: 768px)
{
    .course-categ-page-banner
    {
        margin-bottom: 0px;
    }
    .categ-pg-banner-cntnt
    {
        width: 100%;
        padding: 40px 20px 20px;
    }

    .bg-turn-shp-contain
    {
        width: 100%;
        height: 90%;
    }

    .categ-pg-banner-cntnt .categ-pg-banner-head
    {
        font: 800 78px "clash display";
        line-height: 70px;
        letter-spacing: .2px;
    }

    .categ-pg-banner-cntnt .categ-pg-banner-intro
    {
        width: 80%;
        margin-top: 20px;
    }

    .categ-pg-banner-img
    {
        position: relative;
        right: 100px;
        top: 0;
        text-align: right;
    }

    .categ-pg-banner-img img
    {
        width: 340px;
        height: auto;
    }


    /* ----- Category Highlight Section Code ----- */

    .categ-pg-highlt-contain
    {
        width: 100%;
        gap: 0 10px;
    }

    .categ-pg-highlt-contain .categ-highlt-bx
    {
        padding: 20px 0;
        box-shadow: 4px 4px 2px #e4e4e4a1, -3px -3px 1px #f7f7f790;
    }

    .categ-highlt-bx span
    {
        font: 700 32px "clash display";
        color: var(--primary-color-green);
    }
}


@media screen and (max-width: 480px)
{
    .categ-pg-banner-cntnt
    {
        padding: 40px 10px 10px;
    }

    .categ-pg-banner-cntnt .categ-pg-banner-head
    {
        font: 800 46px "clash display";
        line-height: 40px;
        letter-spacing: .2px;
    }

    .categ-pg-banner-cntnt .categ-pg-banner-intro
    {
        width: 100%;
        margin-top: 20px;
        padding: 6px 0 6px 6px;
    }

    .categ-pg-banner-img
    {
        position: relative;
        right: 0;
        top: 0;
        text-align: right;
    }

    .categ-pg-banner-img img
    {
        width: 240px;
        height: auto;
    }

    /* ----- Category Highlight Section Code ----- */

    .categ-pg-highlt-contain
    {
        width: 90%;

        flex-direction: column;
        gap: 20px 0;
    }
}
