@media screen and (max-width: 1200px)
{

}

@media screen and (max-width: 1024px)
{

}

@media screen and (max-width: 768px)
{

    .placement-prtrs-logos
    {
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }
}


@media screen and (max-width: 480px)
{
    .course-placement-partners
    {
        margin: 30px 0;
    }
    .placement-prtrs-contain .contantPage_head .page-content-head
{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

    .placement-prtrs-logos img
    {
        width: 60px;
    }
}
