@media screen and (max-width: 1200px)
{
    .up-event-img img
    {
        width:400px;
        height: auto;
    }
}


@media screen and (max-width: 1024px)
{
    .up-event-contain
    {
        flex-direction: column;
    }

}

@media screen and (max-width: 769px)
{
    .up-batch-info-contain
    {
        width: 100%;
    }

    .up-event-content .event-info
    {
        font: 500 12px var(--paraFont);
    }
}

@media screen and (max-width: 480px)
{
    .up-event-img img
    {
        width:100%;
        height: auto;
    }


    .up-event-content .event-head
    {
        font: 800 20px "biennale";
        line-height: 22px;
    }

    .up-batch-info-contain
    {
        display: flex;
        flex-direction: column;

        margin: 10px auto;
    }

    .up-event-content .event-info
    {
        font: 500 12px var(--paraFont);
        margin-top: 5px;
    }

    .batch-date
    {
        border-bottom: 0.1px solid #b4b4b4;
        border-right: 0;
    }
    .batch-mode
    {
        border-bottom: 0.1px solid #b4b4b4;
        border-left: 0;
    }
    .batch-fees
    {
        border-bottom: 0.1px solid #b4b4b4;
        border-top: 0;
        border-right: 0;
    }

    .batch-enrolled
    {
        border-top: 0;
        border-left: 0;
    }

    .up-batch-info .batch-main-text
    {
        font: 600 18px var(--paraFont);
        line-height: 20px;
    }

    .up-batch-info .batch-mini-text
    {
        font: 600 10px var(--paraFont);
    }
    
    .up-batch-book-btn
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .up-batch-book-btn .content_button
    {
        margin: 0 auto;
        width: 180px;
    }
}
