@media screen and (max-width: 1024px)
{
    .form-page-data-area .formContain
    {
        width: 320px;
    }
    
    .player-tab
    {
        display: block;
    }

    .player-comp, .player-Mobile
    {
        display: none;
    }
}

@media screen and (max-width: 768px)
{
    .h-100
    {
        height: auto;
    }

    .formContainer
    {
        height: auto;
        flex-direction: column;
    }

    .form-page-data-area .formContain
    {
        margin: 80px 0 20px;
    }
}

@media screen and (max-width: 480px)
{
    .form-head
    {
        padding: 0;
    }

    .form-page-data-area .formContain
    {
        width: 100%;
    }
    
    .player-Mobile
    {
        display: block;
    }

    .player-comp, .player-tab
    {
        display: none;
    }
}
